@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    
}
body {
    background-image: url('./star-wars.jpg');
    min-height: 100%;
    box-sizing: border-box;
}

